{% extends 'users/base.html' %}


{% block form %}
  <form class="form" action="{{ url_for('users.login') }}" method="post">
    <h2 class="form__title">Log In</h2>
    <hr class="divider">
    <div class="input-group">
      <label for="username-input">Username:</label>
      <input id="username-input" class="input input--auth" placeholder="Enter username" type="text">
      <p class="form__text">Note that the username may be case-sensitive.</p>
    </div>
    <div class="input-group">
      <label for="password-input">Password:</label>
      <input id="password-input" class="input input--auth" placeholder="Enter password" type="password">
    </div>
    <div class="input-group d-flex">
      <input class="form__checkbox" id="remember" type="checkbox">
      <label for="remember">Remember me</label>
      <a class="form-link form-link--secondary ml-auto" href="#">Forgot password ?</a>
    </div>
    <hr class="divider">
    <div class="form-submit-wrp">
      <button class="btn btn--form" type="submit">Log In</button>
      <p>
        Not registered ?
        <a class="form-link form-link--active" href="{{ url_for('users.registration') }}">
          Create your account
        </a>
      </p>
    </div>
  </form>
{% endblock %}
