{% extends 'base.html' %}

{% block content %}
  <section class="shortener">
    <div class="shortener-wrp">
      <h1 class="shortener__title">Shortify - URL Shortening</h1>
      <label class="shortener__desc" for="{{ form.original_url.id }}">
        Shorten and use shortened URLs. It's fast and free.
      </label>
      <form action="{{ url_for('main.index') }}" method="post">

        {{ form.hidden_tag() }}

        <div class="input-group d-flex">
          {{ form.original_url() }}
          {{ form.submit }}
        </div>
      </form>
      {% if get_flashed_messages() %}
        <div class="flash flash--active">
          {% for message in get_flashed_messages() %}
            <div class="flash-content">
              <p class="flash__title">{{ message }}</p>
              <a class="flash__link" href="{{ short_url }}" target="_blank">{{ short_url }}</a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>
  <section class="about">
    <div class="about-wrp">
      <h2 class="about__title">The Best URL Shortener</h2>
      <p class="about__desc">
        Shortify will help you convert long urls into short ones and save them on the site, then you can use the
        short urls you created to quickly and easily navigate to the desired links.
      </p>
    </div>
  </section>
  <section class="cards">
    <div class="cards-wrp">
      <div class="card">
        <div class="card-img-wrp">
          <img src="{{ url_for('static', filename='img/clock.svg') }}" alt="clock">
        </div>
        <div class="card-text-wrp">
          <h4 class="card__title">Fast and easy to use</h4>
          <p class="card__desc">
            Using this site is the quickest and easiest way to shorten any of your links, or to use already shortened
            ones.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-img-wrp">
          <img src="{{ url_for('static', filename='img/limits.svg') }}" alt="clock">
        </div>
        <div class="card-text-wrp">
          <h4 class="card__title">Without restriction</h4>
          <p class="card__desc">Shorten any links as much as you want, unlimited and always free.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-img-wrp">
          <img src="{{ url_for('static', filename='img/safe.svg') }}" alt="clock">
        </div>
        <div class="card-text-wrp">
          <h4 class="card__title">Fast and easy to use</h4>
          <p class="card__desc">All your links are securely stored and not shared with anyone, don't worry.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}